/* stylelint-disable function-url-quotes */

/* Visibility indicator for blocks with tab visibility settings */
.wp-block-has-hm-tab-visibility {
	position: relative;
}

.wp-block-has-hm-tab-visibility:not(.is-selected, .has-child-selected)::after {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 24px;
	height: 24px;
	pointer-events: none;
	z-index: 100;
	background-color: var(--wp-admin-theme-color);
	opacity: 0.6;
	mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true" focusable="false"><path d="M12 4c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 14.5c-3.6 0-6.5-2.9-6.5-6.5S8.4 5.5 12 5.5s6.5 2.9 6.5 6.5-2.9 6.5-6.5 6.5zM9 16l4.5-3L15 8.4l-4.5 3L9 16z"></path></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}
